
<p>Welcome to "Searching For Poetry." Please click one of the links below to have a poem read to you, line by line, by Google.com!</p>

<p>This website is a work in progress</p>

<ul>
	<li><%= link_to "she being Brand", '/shebeingbrand' %></li>
	<li><%= link_to "The Red Wheelbarrow", '/theredwheelbarrow' %></li>
	<li><%= link_to "The Raven", '/theraven' %></li>
</ul>

