<!DOCTYPE html>
<html>
<head>
    <title>Searching For Poetry</title>
</head>
<body>
<h1>Searching For Poetry</h1>
<p>Welcome to "Searching For Poetry." Please click one of the links below to have a poem read to you, line by line, via Google.com!</p>

<p>This website is a work in progress</p>

<ul>
	<li><%= link_to "she being Brand", '/shebeingbrand' %></li>
	<li><%= link_to "The Red Wheelbarrow", '/theredwheelbarrow' %></li>
</ul>
	
<p>Source code for this site can be found <%= link_to "here", 'http://github.com/micahwalter/searchingforpoetry' %></p>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66404637); }catch(e){}</script>
</body>
</html>